html,body{ height:100%;}
body
{	font-family:arial, tahoma, helvetica;
	margin: 0px auto;
	height:auto;
	z-index:-10;
    background:white;
}
#header
{
	box-shadow:none;
    background:linear-gradient(white,rgb(143,175,203));
    border-bottom:2px solid gray;
}

#header > div 
{
    width:1100px;
    margin:0px auto;
}

#contenedor
{	
    width:1100px;
	box-shadow:none;
	margin:0px auto;
	height:100%;
}

header img
{
    width:100px;
}

header span
{
    font-size: 50px;
    display: inline-block;
    vertical-align: middle;
}

.navbar-produtek
{
    background:linear-gradient(#eee,#888);
    border-radius:6px;
    width:1100px;
}

.navbar-produtek > ul > li
{
    float:left;
}

.navbar-produtek a
{
    font-weight: bold;
    color:#333;
}

.navbar-produtek li:hover > a
{
    background:linear-gradient(silver,#444); !important;
    color:black !important;
}

.navbar-produtek .active a
{
    color:rgb(117,149,173);
    background:linear-gradient(#888,#eee);
}

.navbar-produtek .inicio a
{
    border-radius: 4px 0px 0px 4px;
}

.dropdown-produtek
{
    background:linear-gradient(#444,silver);
    color:white;
    border-radius: 0px 0px 4px 4px;
}

.dropdown-produtek a
{
    font-weight: bold;
    color:white !important;
}

.dropdown-produtek li:hover > a
{
    background:gray;
    color:black !important;
}

 .dropdown-produtek .divider
{
    background-color:gray;
}

.dropdown:hover .dropdown-menu 
{
    display: block;
    margin-top: 0px;
}

footer
{	text-align:center;}