html,body{ height:100%;}
body
{	font-family:arial, tahoma, helvetica;
	margin: 0px auto;
	z-index:-10;
    background:white;
}

#contenedor
{
    min-height: 100%;
  position: relative;
}

header
{
	box-shadow:none;
/*    background:linear-gradient(#222,rgb(40,70,94),rgb(59,87,101));*/
/*    background: rgb(40,70,94);*/
    background: linear-gradient( to right, rgb(40,70,94),rgb(60,110,150));
}

header img
{
    width:90px;
    display:inline-block;
    vertical-align: top;
}

header div
{
    display:inline-block;
}

header #titulo, header #logotipo
{
    font-family: Britannic Bold;
    font-style: italic;
    font-size: 44px;
    color: white;
    vertical-align: middle;
    text-shadow: -1px 2px 0px #666, -1px 2px 1px #888, -1px 2px 2px #aaa;
}

header #logotipo
{
    font-size:18px;
    display: inline-block;
    margin-bottom:5px;
    margin-top:-10px;
    text-shadow: -1px 1px 0px #777, -1px 1px 1px #999;
}

section
{	
    width:1100px;
	box-shadow:none;
	margin:0px auto;
	height:100%;
    padding-bottom: 100px;
}

.navbar-produtek
{
    background:linear-gradient(#eee,#888);
}

.navbar-produtek > ul > li
{
    float:left;
    border-right: 1px solid gray;
}

.navbar-produtek > ul > li > a
{
    font-weight: bold;
    color:#333;
}

.navbar-produtek > ul > li:hover > a
{   
    color:black !important;
    background:linear-gradient(silver,#444) !important;
}

.navbar-produtek > ul > li > a:active, .navbar-produtek > ul > li > a:visited
{   
    color:black !important;
    background:linear-gradient(silver,#444) !important;
}

.navbar-produtek .active
{    background:linear-gradient(#888,#eee);}

.navbar-produtek .active a
{   color:rgb(59,87,101);}

.dropdown-produtek
{
    background:linear-gradient(silver,rgba(180,180,180,0.90));
    color:white;
    border: 1px solid gray;
    border-top: 0px;
    border-radius: 0px;
    margin-top: 0px;
    transition: all 1s;
}

.dropdown-produtek a
{
    font-weight: bold;
    color:black !important;
}

.dropdown-produtek li:hover > a
{
    background:gray;
    color:black !important;
}

 .dropdown-produtek .divider
{
    background-color:gray;
}

.dropdown:hover .dropdown-menu 
{
    display: block;
}

footer
{	
    text-align:center;
    color:white;
    width:100%;
    height:70px;
/*    background:linear-gradient(rgb(59,87,101),rgb(40,70,94),#222);*/
    background: linear-gradient( to right, rgb(40,70,94),rgb(60,110,150));
    position: absolute;
    bottom: 0;
    left: 0;
}

footer span
{
    float:left;
    margin:25px 0px 25px 10px;
}

footer a
{
    float:right;
    margin:5px;
}